body {
    padding-bottom: 100px;
    background-color:rgb(255,255,255,0.4);
}


/* containers */
.container-margin-outer {
    margin-left:0.5em;
    margin-right:0.5em;
}

/* banner (header) */
.top-banner-title {
    color:#222;
    text-shadow: 0px 2px 3px #555;
    font-size: 26px;
}

.top-banner-subtitle {
    color: white;
    text-shadow: 0px 2px 3px #555;
    font-size: 24px;
    font-style:italic;
}

.banner {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-image: url("/assets/main/blurred_banner.jpg");
}

.jumbotron {
    background-image: url("/assets/main/blurred.jpg");
    background-size: cover;
}

.cover-door {
    background: rgba(0,0,0,0.2);
}

/* icons */
.nav-vd {
  margin-left:  5px;
  margin-right: 5px;
  height: 25px;
  border-left: 2px solid #cccccc;
  display: inline-block;
  vertical-align: bottom;
}


.social {
    width:35px;
    padding-right:2%;
}

.course-icons {
    max-width:60px;
    max-height:50px;
    padding-bottom:10px;
    padding-right:10px;
}

.patent-icons {
    margin-top:15%;
}

.technology-icons {
    max-width:  175px;
    max-height: 175px;
    padding-right: 50px;
}

.platform-icons {
    max-width:  160px;
    max-height: 160px;
    margin-bottom: 5%;
    padding-right:75px;
}

.funding-icons {
    max-width:  200px;
    max-height: 200px;
    margin-bottom: 10%;
    padding-right: 50px;
}

.experience-icons {
    max-width:125px;
    max-height:125px;
}

.highlights-icons {
    margin: 0 auto !important;
    width:  500px !important;
    height: 300px !important;
}

.books-icons {
    margin: 0 auto !important;
    width:  350px !important;
    height: 400px !important;
}

/* headers */
.topic-title {
    color:grey;
    font-style:italic;
    font-size: 16px;
    margin-bottom:12.5%;
}

.portfolio-title {
    color: black;
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 2.5%;
}

.small-title-spacer {
    color:grey;
    font-style:italic;
    font-size: 16px;
    margin-bottom:2.5%;
}

/* quotes */
blockquote {
    display:block;
    margin-top:2%;
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.2;
    color: white;
    text-align: justify;
    border-left: 5px solid #c76c0c;
}


/* posts */
.tag-cloud  {
    margin-bottom: 20px;
    margin-left: 16px;
    text-align: left;
    line-height: 30px;
    word-spacing: 5px;
}

.tag-instance {
    font-size:20px;
    border:2px solid rgba(250,150,9,0.6);;
    padding:1%;
    border-radius: 50px;
}

.box-posts {
    border: 2px solid grey;
}

.box-posts:hover, .box-posts:focus{
    border: 2px solid orange;
    background-color:rgba(0,0,0,0.2);
    transition: transform 0.3s;
    position:relative;
}

.box-posts-header {
    padding-top:    2.5%;
    padding-bottom: 2.5%;
    background-color:#0a8cc4;
    color:white;
    font-size:18px;
}

.box-posts-description {
    padding-top:    10%;
    padding-bottom: 10%;
    background-color:rgba(0,0,0,0.4);
}

.posts-header {
    font-size:14px;
}



