/** Set the backgrounds for the different sections **/

#footer {
   color: #fff;
   min-height: 60px;
   clear: both;
   position: relative;
   margin-top: -40px;      
   padding: 20px 0 0 0;

   /*http://www.cssmatic.com/gradient-generator*/
   background: rgba(11,63,77,1);
   background: -moz-linear-gradient(left, rgba(11,63,77,1) 0%, rgba(11,63,77,1) 7%, rgba(95,131,140,1) 30%, rgba(11,63,77,1) 47%, 
   rgba(95,131,140,1) 65%, rgba(11,63,77,1) 92%, rgba(11,63,77,1) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(11,63,77,1)), color-stop(7%, rgba(11,63,77,1)), color-stop(30%, rgba(95,131,140,1)), 
   color-stop(47%, rgba(11,63,77,1)), color-stop(65%, rgba(95,131,140,1)), color-stop(92%, rgba(11,63,77,1)), color-stop(100%, rgba(11,63,77,1)));
   background: -webkit-linear-gradient(left, rgba(11,63,77,1) 0%, rgba(11,63,77,1) 7%, rgba(95,131,140,1) 30%, rgba(11,63,77,1) 47%, rgba(95,131,140,1) 65%, 
   rgba(11,63,77,1) 92%, rgba(11,63,77,1) 100%);
   background: -o-linear-gradient(left, rgba(11,63,77,1) 0%, rgba(11,63,77,1) 7%, rgba(95,131,140,1) 30%, rgba(11,63,77,1) 47%, rgba(95,131,140,1) 65%, 
   rgba(11,63,77,1) 92%, rgba(11,63,77,1) 100%);
   background: -ms-linear-gradient(left, rgba(11,63,77,1) 0%, rgba(11,63,77,1) 7%, rgba(95,131,140,1) 30%, rgba(11,63,77,1) 47%, rgba(95,131,140,1) 65%, 
   rgba(11,63,77,1) 92%, rgba(11,63,77,1) 100%);
   background: linear-gradient(to right, rgba(11,63,77,1) 0%, rgba(11,63,77,1) 7%, rgba(95,131,140,1) 30%, rgba(11,63,77,1) 47%, rgba(95,131,140,1) 65%, 
   rgba(11,63,77,1) 92%, rgba(11,63,77,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b3f4d', endColorstr='#0b3f4d', GradientType=1 );
}

#header{
   /*background-color: #2d465c; */
   min-height: 50px;
   font-family: Tahoma, Helvetica, Arial, Sans-Serif;


   /*http://www.cssmatic.com/gradient-generator*/
   background: rgba(11,63,77,1);
   background: -moz-linear-gradient(left, rgba(11,63,77,1) 0%, rgba(11,63,77,1) 7%, rgba(95,131,140,1) 30%, rgba(11,63,77,1) 47%, 
   rgba(95,131,140,1) 65%, rgba(11,63,77,1) 92%, rgba(11,63,77,1) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(11,63,77,1)), color-stop(7%, rgba(11,63,77,1)), color-stop(30%, rgba(95,131,140,1)), 
   color-stop(47%, rgba(11,63,77,1)), color-stop(65%, rgba(95,131,140,1)), color-stop(92%, rgba(11,63,77,1)), color-stop(100%, rgba(11,63,77,1)));
   background: -webkit-linear-gradient(left, rgba(11,63,77,1) 0%, rgba(11,63,77,1) 7%, rgba(95,131,140,1) 30%, rgba(11,63,77,1) 47%, rgba(95,131,140,1) 65%, 
   rgba(11,63,77,1) 92%, rgba(11,63,77,1) 100%);
   background: -o-linear-gradient(left, rgba(11,63,77,1) 0%, rgba(11,63,77,1) 7%, rgba(95,131,140,1) 30%, rgba(11,63,77,1) 47%, rgba(95,131,140,1) 65%, 
   rgba(11,63,77,1) 92%, rgba(11,63,77,1) 100%);
   background: -ms-linear-gradient(left, rgba(11,63,77,1) 0%, rgba(11,63,77,1) 7%, rgba(95,131,140,1) 30%, rgba(11,63,77,1) 47%, rgba(95,131,140,1) 65%, 
   rgba(11,63,77,1) 92%, rgba(11,63,77,1) 100%);
   background: linear-gradient(to right, rgba(11,63,77,1) 0%, rgba(11,63,77,1) 7%, rgba(95,131,140,1) 30%, rgba(11,63,77,1) 47%, rgba(95,131,140,1) 65%, 
   rgba(11,63,77,1) 92%, rgba(11,63,77,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b3f4d', endColorstr='#0b3f4d', GradientType=1 );
}


body {
   /*font-family: Helvetica, sans-serif; */
   /*font-size:20px;*/
   font-family:"ronnia"; 

   /*http://www.cssmatic.com/gradient-generator*/
   background: rgba(173,217,235,1);
   background: -moz-linear-gradient(-45deg, rgba(173,217,235,1) 0%, rgba(173,217,235,1) 5%, rgba(78,96,101,1) 25%, 
   rgba(29,176,221,1) 66%, rgba(78,96,101,1) 84%, rgba(173,217,235,1) 100%);
   background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(173,217,235,1)), color-stop(5%, rgba(173,217,235,1)), 
   color-stop(25%, rgba(78,96,101,1)), color-stop(66%, rgba(29,176,221,1)), color-stop(84%, rgba(78,96,101,1)), color-stop(100%, rgba(173,217,235,1)));
   background: -webkit-linear-gradient(-45deg, rgba(173,217,235,1) 0%, rgba(173,217,235,1) 5%, rgba(78,96,101,1) 25%, 
   rgba(29,176,221,1) 66%, rgba(78,96,101,1) 84%, rgba(173,217,235,1) 100%);
   background: -o-linear-gradient(-45deg, rgba(173,217,235,1) 0%, rgba(173,217,235,1) 5%, rgba(78,96,101,1) 25%, rgba(29,176,221,1) 66%, 
   rgba(78,96,101,1) 84%, rgba(173,217,235,1) 100%);
   background: -ms-linear-gradient(-45deg, rgba(173,217,235,1) 0%, rgba(173,217,235,1) 5%, rgba(78,96,101,1) 25%, rgba(29,176,221,1) 66%, 
   rgba(78,96,101,1) 84%, rgba(173,217,235,1) 100%);
   background: linear-gradient(135deg, rgba(173,217,235,1) 0%, rgba(173,217,235,1) 5%, rgba(78,96,101,1) 25%, rgba(29,176,221,1) 66%, 
   rgba(78,96,101,1) 84%, rgba(173,217,235,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add9eb', endColorstr='#add9eb', GradientType=1 );
}

.main {
   /*border: 1px solid #eee;*/
   /*border-radius: 1px;*/
   height:auto;
   padding-bottom:10em;
   position:relative;

   font-family:"ronnia"; 

   
   /* http://www.cssmatic.com/gradient-generator */
   background: rgba(183,222,237,1);
   background: -moz-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(162,178,184,1) 31%, rgba(33,180,226,1) 54%, rgba(141,159,166,1) 72%, 
   rgba(128,218,245,1) 93%, rgba(128,218,245,1) 100%);
   background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(31%, rgba(162,178,184,1)), color-stop(54%, 
   rgba(33,180,226,1)), color-stop(72%, rgba(141,159,166,1)), color-stop(93%, rgba(128,218,245,1)), color-stop(100%, rgba(128,218,245,1)));
   background: -webkit-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(162,178,184,1) 31%, rgba(33,180,226,1) 54%, rgba(141,159,166,1) 72%, 
   rgba(128,218,245,1) 93%, rgba(128,218,245,1) 100%);
   background: -o-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(162,178,184,1) 31%, rgba(33,180,226,1) 54%, rgba(141,159,166,1) 72%, 
   rgba(128,218,245,1) 93%, rgba(128,218,245,1) 100%);
   background: -ms-linear-gradient(-45deg, rgba(183,222,237,1) 0%, rgba(162,178,184,1) 31%, rgba(33,180,226,1) 54%, rgba(141,159,166,1) 72%, 
   rgba(128,218,245,1) 93%, rgba(128,218,245,1) 100%);
   background: linear-gradient(135deg, rgba(183,222,237,1) 0%, rgba(162,178,184,1) 31%, rgba(33,180,226,1) 54%, rgba(141,159,166,1) 72%, 
   rgba(128,218,245,1) 93%, rgba(128,218,245,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#80daf5', GradientType=1 );
}


/* posts */
.posts {
   border:1px solid grey;   
}

.label-tag {
   display: inline-block; 
   font-size: 16px; 
   margin-bottom: 5%; 
   background-color:gray; 
   border:1px solid black;
}


/* override default styles */
li {
   font-size:inherit;
   font-family: inherit;
   line-height:1.6;
} 

a:link {
   color: #0645AD;
   text-decoration: none;
}

a:visited {
   color: #663366;
   text-decoration: none;
}

a:hover {
   color: black;
   text-decoration: underline;
}

a:active {
   color: black;
   text-decoration: underline;
}

 
/* media sizes */
img.media-icons {
   max-width:60px;
   max-height:50px;
   padding-bottom:10px;
   padding-right:10px;
}

.media-logo-ak {
   margin-left:5%;
}

.media-gallery {
   width:100px;
   height:100px;
   margin-bottom:10%;
}

.media-snapshots {
   width:250px;
   height:200px;
}

img.news-snapshots {
   max-height:250px;
   padding-bottom:5%;   
}


img.media-thumbs {
   width:110px;
}

.book-snaphsots {
   width:250px;
   height:300px;
   margin-left:22.5%;
}


/* actions */
ul.top {
    list-style: none;
    padding:0;
    margin:0;
}

ul.items {
    list-style: disc;
    padding-left:1em;
}

li.expand:before {
    content: "\2192 \0020";
}


/* containers */
#wrap {min-height: 100%;}

.container-margin-outer {
   margin-left:0.5em; 
   margin-right:0.5em;
}
.container-margin-column {
   margin-left:1em; 
   margin-right:1em;
}

.container-full-row {
    margin-left:1em; 
    margin-right:1em;
}

ul.container-box {
   padding-left:1em;
}

ul.container-shift-right-box {
   padding-left:8em;
   padding-top:1em;
}


/* spacers */
.container-spacer {
   padding-top:1em;
}

.container-medium-spacer {
   padding-top:2em;
}


.container-large-spacer {
   padding-top:3.5em;
}

/* shifters */
.margin-shift-1 {
   margin-left:10%;
}

.margin-shift-min {
   padding-left:7%;
}

.margin-shift-2-min {
   padding-left:14%;
}




/* maps */
.map {
   width:425; 
   height:400;
}

/* lines */
.sidebar {
   margin-left:5%;
}

.sidebar:after {
   content: '';
   width: 0;
   height: 100%;
   position: absolute;
   border: thin solid grey;
   padding-bottom:20em;
   top: 0;
   left: 100%;
}

/* circles */
.circle {
   border-radius: 50%/50%; 
   width: 100%;
   height: 30%;
   padding-top:10%;
   border: 1px solid black;
   background: none;

}

.circle-element.round.label {
   padding:1em; 
   font-size:15;
   margin-bottom:1em;
}

.ven-shift {
   margin-left:-10%;
}


/* wrapping */
img.wrap-section {
   padding-top: 20px;
   padding-bottom: 2.25px;
   padding-right: 10px;
}

p.wrap-section {padding-top:20px;}


/* headers */
.topic-header {
   color:white; 
   padding-bottom:1px;
   padding-top:1px;
   font-style:italic;   
   padding-bottom:2.5%;
   border-bottom: 3px solid black;
}

.topic-subheader {
   padding-top:1em;
}

.basic-header {
   font-weight:bold;
   font-style:italic;   
   padding-bottom:0.5em; 
}

/* shader divisions */
.small-content {
   background: rgba(242,246,248,1);
   background: -moz-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 31%, rgba(160,195,219,1) 66%, rgba(224,239,249,1) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(31%, rgba(181,198,208,1)), 
   color-stop(66%, rgba(160,195,219,1)), color-stop(100%, rgba(224,239,249,1)));
   background: -webkit-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 31%, rgba(160,195,219,1) 66%, rgba(224,239,249,1) 100%);
   background: -o-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 31%, rgba(160,195,219,1) 66%, rgba(224,239,249,1) 100%);
   background: -ms-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 31%, rgba(160,195,219,1) 66%, rgba(224,239,249,1) 100%);
   background: linear-gradient(to right, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 31%, rgba(160,195,219,1) 66%, rgba(224,239,249,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
}



/* sizes */
.full-width {min-width:100%; position: relative;}
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }
