/** Set the backgrounds for the different sections **/

#footer {
   background-color: #2d465c;
   color: #fff;
   min-height: 60px;
   clear: both;
   position: relative;
   margin-top: -40px;      /* negative value of footer height */
   padding: 20px 0 0 0;
}

#header{
   background-color: #2d465c;
   min-height: 100px;
}


body {
   background-image: url(/images/bkgd/texture07.jpg);
   /*background-color: #ccc; 
   background-repeat: no-repeat;
   font-family: Helvetica, sans-serif; 
   font-family:"Times New Roman", Times, serif;
   font-size:20px;
*/
   font-family: Helvetica, sans-serif; 
}

.main {
   border: 1px solid #eee;
   border-radius: 3px;
   height:auto;
   padding-bottom:10em;
   background-color: #ccc; 


   /* http://www.cssmatic.com/gradient-generator */
   background: rgba(251,253,254,1);
   background: -moz-linear-gradient(left, rgba(251,253,254,1) 0%, rgba(179,227,244,1) 25%, rgba(88,195,228,1) 51%, rgba(251,253,254,1) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(251,253,254,1)), color-stop(25%, rgba(179,227,244,1)), color-stop(51%, rgba(88,195,228,1)), color-stop(100%, rgba(251,253,254,1)));
   background: -webkit-linear-gradient(left, rgba(251,253,254,1) 0%, rgba(179,227,244,1) 25%, rgba(88,195,228,1) 51%, rgba(251,253,254,1) 100%);
   background: -o-linear-gradient(left, rgba(251,253,254,1) 0%, rgba(179,227,244,1) 25%, rgba(88,195,228,1) 51%, rgba(251,253,254,1) 100%);
   background: -ms-linear-gradient(left, rgba(251,253,254,1) 0%, rgba(179,227,244,1) 25%, rgba(88,195,228,1) 51%, rgba(251,253,254,1) 100%);
   background: linear-gradient(to right, rgba(251,253,254,1) 0%, rgba(179,227,244,1) 25%, rgba(88,195,228,1) 51%, rgba(251,253,254,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdfe', endColorstr='#fbfdfe', GradientType=1 );
}






/* orbit containers */
.orbit-container {
   width:  85%;
   //height: auto;
   margin: auto;
}


/* media sizes */
.media-gallery {
   width:700px;
   height:500px;
}

.media-snapshots {
   width:200px;
   height:175px;
}

.book-snaphsots {
   width:200px;
   height:300px;
}

/* actions */
ul.top {
    list-style: none;
    padding:0;
    margin:0;
}

ul.items {
    list-style: disc;
    padding-left:1em;
}


li.expand:before {
    content: "\2192 \0020";

}



/* containers */
#wrap {min-height: 100%;}

.container-margin-outer {
   margin-left:0.5em; 
   margin-right:0.5em;
}
.container-margin-column {
   margin-left:1em; 
   margin-right:1em;
}

.container-full-row {
    margin-left:1em; 
    margin-right:1em;
}


ul.container-box {
   padding-left:1em;
}

ul.container-shift-right-box {
   padding-left:8em;
   padding-top:1em;
}


/* spacers */
.container-spacer {
   padding-top:1em;
}

.container-medium-spacer {
   padding-top:2em;
}


.container-large-spacer {
   padding-top:3.5em;
}

/* lines */
.verticalLine {
    border-left: thin solid #ff0000;
}


/* wrapping */
img.wrap-section {
   padding-top: 20px;
   padding-bottom: 2.25px;
   padding-right: 10px;
}

p.wrap-section {padding-top:20px;}


/* headers */
.topic-header {
   color:white; 
   /* background-color:grey; */
   padding-bottom:0.5em;
   padding-top:0.5em;
   font-weight:bold;
   font-style:italic;   

   background: rgba(226,226,226,1);
   background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 7%, rgba(0,0,0,1) 51%, rgba(254,254,254,1) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(7%, rgba(219,219,219,1)), 
   color-stop(51%, rgba(0,0,0,1)), color-stop(100%, rgba(254,254,254,1)));
   background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 7%, rgba(0,0,0,1) 51%, rgba(254,254,254,1) 100%);
   background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 7%, rgba(0,0,0,1) 51%, rgba(254,254,254,1) 100%);
   background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 7%, rgba(0,0,0,1) 51%, rgba(254,254,254,1) 100%);
   background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 7%, rgba(0,0,0,1) 51%, rgba(254,254,254,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}

.topic-subheader {
   padding-top:1em;
}

.basic-header {
   font-weight:bold;
   font-style:italic;   
   padding-bottom:0.5em; 
}

/* shader divisions */
.small-content {
background: rgba(242,246,248,1);
background: -moz-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 31%, rgba(160,195,219,1) 66%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,246,248,1)), color-stop(31%, rgba(181,198,208,1)), 
color-stop(66%, rgba(160,195,219,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 31%, rgba(160,195,219,1) 66%, rgba(224,239,249,1) 100%);
background: -o-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 31%, rgba(160,195,219,1) 66%, rgba(224,239,249,1) 100%);
background: -ms-linear-gradient(left, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 31%, rgba(160,195,219,1) 66%, rgba(224,239,249,1) 100%);
background: linear-gradient(to right, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 31%, rgba(160,195,219,1) 66%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1 );
}



/* sizes */
.full-width {min-width:100%; position: relative;}
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }
