   <!-- Plug-Ins -->
   <script src="/js/vendor/fastclick.js"></script>
   <script src="/js/foundation.min.js"></script>
   
   <!-- Load Base Sections -->
   
   <script type="text/javascript">
   $(document).ready(function(){
      $("#header").load("/base.html #header", function(){$(document).foundation('reflow', 'equalizer');});
      $("#navie").load("/base.html #navigation", function(){$(document).foundation('reflow', 'equalizer');});
      $("#footer").load("/base.html #footer", function(){$(document).foundation('reflow', 'equalizer');});
   });
   </script>
   

   <script type="text/javascript">
   $(document).ready(function() {
      foundation({
      dropdown: {active_class: 'open'},      
      dropdown: {is_hover: true},
      'equalizer',
      'reflow'});
   });
   </script>

