<header>
    <div class="row banner">
        <div class="col-xs-5 col-sm-3 col-md-push-4 col-sm-push-3 col-xs-push-1">
            <a href="http://arikamlani.com/">
            <img src="/assets/main/ak_logo.png" class="img-responsive" style="margin-top:5%" title="Ari Kamlani"/>
            </a>
        </div>
        <div class="col-xs-7 col-sm-5 col-sm-push-2">
            <div class="col-md-push-1">
            <h4 class="top-banner-title">Outside The Lines</h4>
            <h4 class="top-banner-subtitle">Comfortable in the Uncomfortable</h4>
            </div>
        </div>
    </div>
</header>

