   
   <!-- Row Section, Header -->
   <div id="header">
      <div class="row" style="padding-bottom:1%">
         <div class="small-2 small-offset-2 columns">
            <!-- http://cooltext.com/ Image-->
            <!--<a href="http://arikamlani.com/"><img src="/images/assets/akamlani_logo.png" title="Ari Kamlani" width=350 style="margin-top:20px"/></a>-->
            <a href="http://arikamlani.com/"><img src="/images/logos/ak_logo_00.png" title="Ari Kamlani" width=125px style="margin-top:20px"/></a>-
         </div>
         <div class="small-4 columns end" style="padding-top:25px; padding-left:30px">
            <h4 style="color:white"><i>Full Steam Ahead</i></h4>
            <h4 class="subheader" style="color:white"><i>My Two Cents...</i></h4> 
         </div>
      </div>
   </div>

