<header>
    <div class="row banner">
        <div class="col-xs-3 col-md-push-4 col-xs-push-3">
            <!-- http://cooltext.com/ Image-->
            <a href="http://arikamlani.com/">
            <img src="/assets/main/ak_logo.png" class="img-responsive" title="Ari Kamlani" width=125px height=60px/>
            </a>
        </div>
        <div class="col-xs-5 col-md-push-2 col-xs-push-2" style="padding-left:5%">
            <h4 style="color:#222; text-shadow: 0px 2px 3px #555; font-size: 26px;">Outside The Lines</h4>
            <h4 style="color:white; text-shadow: 0px 2px 3px #555; font-size: 24px; font-style:italic;">No Boundaries...</h4>
        </div>
    </div>
</header>

