<div itemscope itemtype="http://schema.org/Person">
    <a itemprop="url" href="http://arikamlani.com"><div itemprop="name"><strong>Ari Kamlani</strong></div></a>
    <div itemscope itemtype="http://schema.org/Organization"><span itemprop="name">ARK Consultants</span></div>
    <div itemprop="jobtitle">Technologist</div>

    <div itemprop="description">Consultant | Technologist | Designer | Group Innovator</div>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <div><span itemprop="addressLocality">San Francisco</span>, <span itemprop="addressRegion">CA</span></div>
        <div itemprop="postalCode">94133</div>
        <div itemprop="addressCountry">United States</div>
    </div>
    <div itemprop="email"><a class="contact" href="mailto:akamlani@gmail.com">akamlani@gmail.com</a></div>
    <div itemprop="telephone">(+1) (919) 522-2242</div>
</div>

<!--
<li><a href="http://www.linkedin.com/in/akamlani" itemprop="url">LinkedIn profile</a></li>
<img itemprop="image" data-author="Ari Kamlani" src="akamlani.jpg" alt="Technologist">
-->

<!--
//MICRODATA GENERATORS
http://foolip.org/microdatajs/live
http://www.schema.org/Person
http://schema-creator.org/person.php
https://developers.google.com/structured-data/
-->
