<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index.html">Ari R. Kamlani</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse" id="navbar-collapse-1">
        <!-- Navbar Menu -->
        <ul class="nav navbar-nav navbar-left">
            <li><a href="/index.html">About</a><span class="sr-only">current</span></li>
            <li><a href="/pages/portfolio.html">Portfolio</a></li>
            <li><a href="/docs/ResumeAKamlani.pdf">Resume</a></li>
            <!--
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/news/">News</a></li>
            -->
        </ul>
        <!-- Social Media icons -->
        <!-- Not currently used: http://fortawesome.github.io/Font-Awesome/icons/#brand -->
        <ul class="navbar-text navbar-right" style="margin-right: 2%">
            <a class="navbar-link" href="mailto:akamlani@gmail.com">
                <img itemprop="image" class="social" src="/assets/main/social/no border/gmail.png" title="Gmail"/>
            </a>
            <a class="navbar-link" href="tel:+19195222242">
                <img itemprop="image" class="social" src="/assets/main/social/no border/phone.png" title="Mobile"/>
            </a>
            <div class="nav-vd"></div>
            <a class="navbar-link" href="http://twitter.com/akamlani">
                <img itemprop="image" class="social" src="/assets/main/social/no border/twitter.png" title="Twitter"/>
            </a>
            <a class="navbar-link" href="http://linkedin.com/in/akamlani">
                <img itemprop="image" class="social" src="/assets/main/social/no border/linkedin.png" title="LinkedIn"/>
            </a>
            <a class="navbar-link" href="http://facebook.com/akamlani">
                <img class="social" src="/assets/main/social/no border/facebook500.png" title="Facebook"/>
            </a>
            <a class="navbar-link" href="http://plus.google.com/+AriKamlani">
                <img class="social" src="/assets/main/social/no border/googleplus-revised.png" title="Google Plus"/>
            </a>
            <a class="navbar-link" href="http://youtube.com/user/akamlani01">
                <img class="social" src="/assets/main/social/youtube/48px/YouTube-social-circle_red_48px.png" title="You Tube"/>
            </a>
            <a class="navbar-link" href="http://github.com/akamlani">
                <img class="social" src="/assets/main/social/no border/github.png" title="Github"/>
            </a>
            <a class="navbar-link" href="http://www.kickstarter.com/profile/akamlani">
                <img class="social" src="/assets/main/social/no border/kickstarter.png" title="Kickstarter">
            </a>
        </ul>
    </div>

</div>
</nav>


