---
layout: default
---

<!-- Tag Cloud -->
<div class="row" style="margin-top:2.5%">
    <div class="col-xs-6 col-xs-push-1">
        <h5 class="small-title-spacer">Easy Cloud</h5>
        <div class="tag-cloud">
            {% for tag in site.tags %}
                <a class="tag-instance" style="color:grey"
                href="/tags/{{ tag | first | slugize }}/">{{ tag | first }}</a>
            {% endfor %}
        </div>
    </div>
</div>



<!-- Blog Posts -->
<!--<div class="col-xs-12 col-xs-push-1">-->
<!--
<div class="row" style="margin-top:2.5%">
    <div class="col-xs-offset-1">
        {% for post in site.posts %}
        <div class="col-xs-3" style="cursor:pointer" onclick="document.location='{{ post.url }}'">
            <div class="box-posts">
                <div class="box-posts-header" align="center">
                        <a style="color:orange" href={{ post.url }}>{{ post.title}}</a><br>
                        <p style="font-size:14px">{{ post.date| date: "%m-%d-%Y" }}</p>
                </div>
                <div class="box-posts-description" align="left">
                    <div id="sid" class="teaser">{{ post.content}}</div>
                    <span class="complete"> {{ post.content }} </span>
                </div>
                <hr style="border-color:grey">
                <div style="margin:5%; height:40px">
                    {% for tag in post.tags %}
                        <a class="tag-box-instance" style='align:center' href="/tags/{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
$(document).ready(function(){
    var threshold = 30;
    var elem = $('#sid');
    var words = elem.html().split(" ");
    var numWords = words.length
    if (numWords > threshold) {
        //get text for number of words to shorten of string
        var numChars = words.slice(1,threshold).join(" ").length
        elem.html(words.slice(0,threshold).join(" ") + '<span class="more"> ...</span>' );
    }
});
</script>
-->



<!-- Blog Posts -->
<div class="row" style="margin-top:2.5%">
    <div class="col-xs-offset-1 col-xs-8">
        {% for post in site.posts %}
            <div class="post-box">
                <div class="post-date">{{ post.date| date: "%m-%d-%Y" }}</div>
                <a class="post-title" href={{ post.url }}>{{ post.title}}</a>
                <br>
                <p>{{ post.excerpt }}</p>
            </div>
        {% endfor %}
    </div>
</div>

