<!doctype html>
<html lang="en">
<head>
    <!-- Include Head Section -->
    {% include head_section.html %}
</head>

<!-- add google analytics -->
{% include analytics.html %}

<body id="web-container">
<main role="main">
    <!-- Include Navigation -->
    {% include navie.html %}
    <!-- Content -->
    {{content}}
    <!-- Include Footer -->
    {% include footer.html %}
</main>
</body>

</html>


<script language="javascript" type="text/javascript">
//navigation active tab switching
$(document).ready(function() {
    var onResize = function() {
        // apply dynamic padding at the top of the body according to the fixed navbar height
        $("body").css("padding-top", $(".navbar-fixed-top").height());
    };
    // attach the function to the window resize event
    $(window).resize(onResize);
    // call it also when the page is ready after load or reload
    $(function() {
        onResize();
    });

    var url = window.location;
    $('ul.nav a[href="'+ url +'"]').parent().addClass('active');
    $('ul.nav a').filter(function() {
        return this.href == url;
    }).parent().addClass('active');
});
</script>




