<html class="no-js" lang="en">
<head>
      <!-- Include Head Section -->
      {% include head_section.html %}
</head>

<body>
   <div id="wrap">
      <!-- Include Header -->
      {% include header.html %}
      <!-- Include Navigation -->
      {% include navie.html %}
      <!-- Content -->
      {{content}}
   </div>  <!-- end wrap -->

   <!-- Include Footer -->
   {% include footer.html %}

   <!-- Include Foundation Plugins, Initialization -->
   {% include body_section.html %}
</body>
</html>
