---
layout: blogging
---


  
{{content}}   



<div>
  {% for year in page.years reversed %}
    {% for month in (1..12) reversed %}
      {% assign has_posts = (page.grouped_posts[year][month] | size) %}
      {% if has_posts > 0 %}
         <ul class="top">
         <li class="parent expand">
           <h7 id="archive-{{ year }}-{{ month | rjust:2, "0" }}" class="subheader topic-subheader">{{ page.month_names[month] }}, {{ year }}</h7>
           <ul class="child items">
            {% for post in page.grouped_posts[year][month] reversed %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}           
           </ul>
         </li>
         </ul>
         <hr>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>



<script type="text/javascript">
$(document).ready(function() {
  $('.child').hide();
  $('.parent').click(function() {
      $(this).siblings('.parent').find('ul').slideUp();
      $(this).find('ul').slideToggle();
  });
});
</script>


